/* Reset some default browser styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Center the form on the page */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #666;
}

/* Style form elements */
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style radio buttons and checkboxes */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
  
}

/* Style buttons */
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Style the image input */
input[type="file"] {
    margin-top: 10px;
}


textarea {
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

select[disabled] {
    color: #999;
}

/* Style the form p tag */
p {
    font-weight: bold;
    color: #333;
}

/* Add a little margin to the language checkboxes */
input[type="checkbox"] {
    margin-right: 5px;
}
