@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(230, 183, 198) 0%, rgb(235, 231, 235) 50%, rgb(152, 157, 204) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 , h2{
    text-align: center;
}
.mainContainer{
  
}
.container {
    height: 60vh;
    width: 30vw;
    padding: 30px;
    background: linear-gradient(90deg, rgb(235, 231, 235) 0%, rgb(230, 183, 198) 50%, rgb(152, 157, 204) 100%);
    border: 2px solid rgb(134, 133, 133);
    padding: 10px;
    box-shadow:0 25px 50px #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.container p{
    font-size: 20px;
    text-align: center;
}